# ========== .NET ==========

bin/
obj/
*.user
*.suo
*.cache
*.log
.vs/

# ========== Node.js / React ==========

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml
dist/
build/
.env

# ========== IDE / OS ==========

*.DS_Store
Thumbs.db
*.swp
*.tmp
*.bak